<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="TraceSmartServicesConnection" connectionString="Data Source=SESHU; Initial Catalog=SeedSystem; user id = sa; password= sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>